[Unit]
Description=service-test

[Service]
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/python3 /root/svc-test.py
ExecStop=/bin/kill -s TERM $MAINPID
SuccessExitStatus=0
TimeoutStopSec=10
Restart=always
RestartSec=5
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target
